params {

    // Download AccessionTaxa
    ncbi_accessions_database = 'true'
    ncbi_accessions_name = 'accessionTaxa.sql'
    silva_taxonomy_database = 'true'
    silva_taxonomy_name = 'all_silva_headers.rds'
    blast_16S_database = 'true'
    blast_16S_name = '16S_ribosomal_RNA'

    // MetaDemultiplex
    use_demultiplexed_files = true
    demultiplexed_path = "/path/to/demultiplexed_files"
    barcodeFile      = '/path/to/barcode_file'
    indexFile        = '/path/to/index_file'
    readFile         = '/path/to/read_file'
    rcBarcodes       = true
    hammingDist      = 2
    threads          = 4
    quiet            = false

    // MetaRef
    use_RefSeq_files = true
    _RefSeq_path = "/path/to/RefSeq_files"
    reference = true
    representative = false
    compress = true
    caching = true
    quiet = true
    split = 4
    mem = 8000
    threads = 4
    overwrite = true
    target_species = "" // add the target species here like "Escherichia coli, bacteria, archaea"
    filter_species = "" // add the filter species here like "Human, other filter species"
}